/* * {
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 200px;
    background-color: orange;
    padding: 20px;
  }
  
  .button {
    display: block;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: green;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .hint {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -300px;
    height: 300px;
    transition: all ease 0.4s;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: yellow;
  }
  
.show {
    visibility: visible;
    opacity: 1;
    top: 20px;
  } */
  
* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
  }

body,
html {
    width: 100%;
  } 

.footer p {
    margin-left: 20px;
    width: 95%;
    top: 50%;
    left: 50%;
}

.footer input {
    cursor: pointer;
    margin: 10px;
    margin-left: 20px;
    font-size: 30px;
    border: none; 
    outline: none;
    width: 95%;
    height: 100%;
}

.target_selection {
    border: none;
    background-color: white; 
    color: black; 
    margin-top: 20px;
    color: #6750A4;
    cursor: pointer;
}

.new_set_button {
    background-color: white;
    border: none;
    margin-left: 5px;
}

.new_set {
  white-space: nowrap;
  width: 170px;
  border-bottom: 1px solid #6750A4
}

hr {
    width: 100%;
    border: none; /* Убираем границу */
    background-color: #6750A4; /* Цвет линии */
    color: #6750A4; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
   
.hint {
    margin-bottom: 10px;
    position: relative;
    display:grid;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    animation: fadeIn 0.5s forw ards;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FEF7FF;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
.show {
  visibility: visible;
  opacity: 1;
  top: 20px;
}



